name: prepare-draft-release
on:
  push:
    tags:
      - '*'

permissions:
  contents: read

jobs:
  create-draft-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Create draft release from tag
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh release create "${{ github.ref_name }}" --draft --notes-from-tag

  attach-asset-to-draft-release:
    runs-on: ubuntu-latest
    needs: create-draft-release
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Attach an asset to the draft release
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh release upload "${{ github.ref_name }}" "README.md" --clobber
